body {
  background-image: url("https://img.freepik.com/free-photo/office-supplies_23-2148103974.jpg?size=626&ext=jpg&ga=GA1.1.2082370165.1716595200&semt=ais_user");
  background-repeat: no-repeat;
  width: 100%;
     height: 100vh; 
     background-size: cover; 
 }